body{
    background: url("../image/ignasi_pattern_s/ignasi_pattern_s.png");
    text-align: center;
    margin: 20px;
}
.navbar{
    padding: 6px;
    background-color:lightcoral;
    text-align: center;
    border-radius:10px;
    margin:10px 15px;
    opacity: .8;
    border: 2px solid gray;
}
.navbar-brand{
   color: lightcyan;
   font-size: 30px;
   margin:0 5%;
}
.container{
    width: 100%;
    height: 544px;
    overflow: auto;
}
.name-part{
    border: 2px solid lightcoral;
    margin-bottom: 10px;
    border-radius:10px;
    height: 120px;
    background: rgba(0, 0,0 , 0.2);
}
.name-input{
    border-radius: 5px;
    border: 2px solid green;
    color: darkslategrey;
    
}
.comm{
    
}
.btn {
    width: 70px;
    margin: 10px;
    background-color: red;
    opacity: .7;
    padding: 2px;
    color: mediumspringgreen;
    border: 2px solid green;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover {
    border-color: darkgreen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}
section{
    border-radius:10px;
    height: 250px;
    background: rgba(0, 0,0 , 0.2);
    color: darkgray;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.sb-container{
    border: 2px solid red;
   
}
.gb-container{
    border: 2px solid green;
    
    
}
.message-box {
	 border: 2px solid lightcoral;
    margin-bottom: 10px;
    border-radius:10px;
    height: 120px;
    background: rgba(0, 0,0 , 0.2);
}
.footer{
    font-size: 12px;
    position: sticky;
    padding: 21px;
    background: rgba(0, 0,0 , 0.3);
    color: lavender;
    margin: 0;
    border-top: 2px solid lightcoral;
}